.admin__faq--item{
	width: 100%;
	margin-top: 1rem;
	border-radius: 10px;
	border: 1px solid var(--blueC);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 1rem 1.5rem;
}

.admin__faq--item:first-child{
	margin-top: 0;
}

.admin__faq--item--title{
	font-size: 2rem;
	font-weight: 700;
}

.admin__faq--item--text{
	font-size: 1.6rem;
	margin-top: 2rem;
}

.admin__faq--item--delete{
	padding: 0.8rem 1.5rem;
	margin-top: 1rem;
	font-size: 1.6rem;
	border: 1px solid #e30f0f;
}

.admin__faq--item--delete:hover{
	background: #e30f0f;
}