.add__like--inner{
	width: 70%;
	margin-top: 2rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	max-height: 450px;
	overflow-y: auto;
}

.add__like--game{
	display: block;
}

@media(max-width: 480px){
	.add__like--inner{
		width: 100%;
	}
}