.games__mobile{
	display: none;
	flex-direction: column;
	margin-top: 3rem;
	max-width: 100%;
	background: var(--sectionB);
	padding: 2rem 1.5rem;
	width: 100%;
	height: 100vh;
	transition: .3s linear;
}

@media(max-width: 998px){
	.games__mobile{
		display: flex;
		height: auto;
	}
}