.profile__inner{
	padding: 1.5rem;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.profile__info--inner, .profile__edit--inner{
	width: 38%;
	border-radius: 10px;
	background: var(--sectiondarkB);
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profile__edit--inner{
	width: 60.5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: row;
	align-items: flex-start;
}

.profile__info--img--inner{
	width: 135px;
	height: 135px;
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.profile__info--edit--img--inner{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	background: rgba(0, 0, 0, .3);
	transition: .2s linear;
	opacity: 0;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.profile__info--img--inner:hover .profile__info--edit--img--inner{
	opacity: 1;
}

.profile__info--img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.profile__info--name, .profile__info--email, .profile__info--id, .profile__info--role, .profile__info--balance{
	width: 100%;
	text-align: center;
	margin-top: 1.5rem;
	font-size: 2rem;
}

.profile__info--email, .profile__info--id{
	font-size: 1.8rem;
}

.profile__info--email{
	text-align: left;
}

.profile__button--quit{
	padding: 0.9rem 1.5rem;
	font-size: 1.6rem;
	margin-top: 1.5rem;
	border: 1px solid #ff0000;
	width: 65%;
}

.profile__button--quit:hover{
	background: #ff0000;
}

.profile__edit--item{
	width: 48%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 1rem;
}

.profile__edit--item:first-child,
.profile__edit--item:nth-child(2){
	margin-top: 0;
}

.profile__edit--title{
	font-size: 2rem;
	width: 100%;
	text-align: left;
}

.profile__edit--input{
	width: 100%;
	margin-top: 1.5rem;
	font-size: 1.6rem;
	color: #fff;
	padding: 0.7rem 1rem;
	border: 1px solid var(--blueC);
}

.profile__edit--button, .profile__varificate--email{
	width: 100%;
	font-size: 1.6rem;
	text-align: center;
	margin-top: 1.5rem;
	padding: 0.7rem 2rem;
	border: 1px solid var(--blueC);
}

.profile__edit--button:hover{
	background: var(--blueC);
}

.profile__varificate--email{
	background: var(--blueC);
}

#ava{
	display: none;
}

.profile__info--edit--img--label{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.profile__info--edit--img--label--inner{
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background: var(--blueC);
	display: flex;
	align-items: center;
	justify-content: center;
}

.avatar__load{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 1.6rem;
	background: rgba(0, 0, 0, .7);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	text-align: center;
}