.profile__inner{
	padding: 1.5rem;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.profile__info--inner, .profile__edit--inner{
	width: 38%;
	border-radius: 10px;
	background: var(--sectiondarkB);
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profile__edit--inner{
	width: 60.5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: row;
	align-items: flex-start;
}

.profile__edit--item{
	width: 48%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 1rem;
}

.profile__edit--item:first-child,
.profile__edit--item:nth-child(2){
	margin-top: 0;
}

.profile__edit--title{
	font-size: 2rem;
	width: 100%;
	text-align: left;
}

.profile__edit--input{
	width: 100%;
	margin-top: 1.5rem;
	font-size: 1.6rem;
	color: #fff;
	padding: 0.7rem 1rem;
	border: 1px solid var(--blueC);
}

.profile__edit--button, .profile__varificate--email{
	width: 100%;
	font-size: 1.6rem;
	text-align: center;
	margin-top: 1.5rem;
	padding: 0.7rem 2rem;
	border: 1px solid var(--blueC);
}

.profile__edit--button:hover{
	background: var(--blueC);
}

.profile__varificate--email{
	background: var(--blueC);
}

#ava{
	display: none;
}

.profile__info--edit--img--label{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.profile__info--edit--img--label--inner{
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background: var(--blueC);
	display: flex;
	align-items: center;
	justify-content: center;
}