.faq__modal{
	display: block;
}

.faq__content{
	min-width: 1000px;
	max-width: 1050px;
}

.faq__inner--content{
	padding: 1.5rem;
}

.faq__inner{
	margin-top: 1rem;
	max-height: 450px;
	min-height: 450px;
	width: 100%;
	overflow-y: auto;
	position: relative;
}

.faq__arrow--transform{
	transform: rotate(180deg);
}

@media(max-width: 1100px){
	.faq__content{
		min-width: 550px;
		max-width: 600px;
		padding: 2rem;
	}
}

@media(max-width: 610px){
	.faq__content{
		min-width: 80vw;
		max-width: 90vw;
		padding: 1rem;
		padding: 1rem .7rem;
	}
}